// Colors
$blue-primary: #3442B5;
$blue-secondary: #3019B2;
$yellow-accent: #F7CA11;
$purple-dark: #271C47;
$gray-light: #9F9F9F;
$gray-dark: #3F3F40;
$white: #FFFFFF;

//Fonts
$font-main: 'Poppins', sans-serif;

// Sizes
$page-max-width: 1440px;
$container-max-width: 1280px;